streamlit==1.33.0
pandas==2.2.2
numpy
python-dateutil

# Excel
openpyxl==3.1.2
XlsxWriter==3.2.1

# PDF (reportlab은 Cloud에서 최신 버전 자동 사용해야 충돌 없음)
reportlab

# 이미지
Pillow   # 버전 제거해야 정상 설치됨

# 기타
requests
